<div class="container" id="sign-up-form">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 col-sm-offset-3 mt-5">
      <h2 class="text-center title-medium mt-5 mb-5">Sign up</h3> 

        <%= bootstrap_form_for(resource, 
                       :as => resource_name, 
                       :url => registration_path(resource_name)) do |f| %>
          
          <%= render "devise/shared/error_messages", resource: resource %>

          <%= f.text_field :name, 
	           placeholder: 'username (will be shown publicly)', 
	           class: 'form-control' %>
          <%= f.text_field :email, 
	           placeholder: 'email', 
	           class: 'form-control' %>
          <%= f.password_field :password, 
                       placeholder: 'password (#{@minimum_password_length} characters minimum)', 
                       class: 'form-control' %>
          <%= f.password_field :password_confirmation, 
                       placeholder: 'password confirmation', 
                       class: 'form-control' %>
          <%= f.submit 'Sign up', class: 'btn sign-up-button btn-outline-secondary w-100' %>
        <% end %>
    </div>
  </div>
</div>
