<div class="container" id="sign-up-form">
<h4>Bring more practicality and sustainability to your wardrope</h4>
  <div class="row d-flex justify-content-center">
    
    <div class="col-sm-offset-4 col-sm-4 mt-4">
      <h2 class="mb-3">Sign up <small>it's free!</small></h3> 

        <%= bootstrap_form_for(resource, 
                       :as => resource_name, 
                       :url => registration_path(resource_name)) do |f| %>

          <%= f.text_field :name, 
	           placeholder: 'username (will be shown publicly)', 
	           class: 'form-control' %>
          <%= f.text_field :email, 
	           placeholder: 'email', 
	           class: 'form-control' %>
          <%= f.password_field :password, 
                       placeholder: 'password', 
                       class: 'form-control' %>
          <%= f.password_field :password_confirmation, 
                       placeholder: 'password confirmation', 
                       class: 'form-control' %>
          <%= f.submit 'Sign up', class: 'btn sign-up-button btn-outline-secondary' %>
        <% end %>
    </div>
  </div>
</div>
