<div class="container-fluid full-page">
    <div class="row h-100" id="body-row">
        <%= render "posts/sidebar" %>
        <div class="col mt-5 mb-4 ml-5 pl-5">
            <h2 class="title-medium">Edit item</h2>
            <%= bootstrap_form_for @post, html: { class:"w-25" } do |f| %>
              <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>

              <%= f.file_field :picture,  
                              class: 'form-control' %>

              <%= f.select(:category_id, options_for_select(@categories), :prompt => "Select one!") %>

              <%= link_to '(add category)', new_category_path, class: 'nav-link absolute-link' %>

              <%= f.submit 'Edit item', class: 'btn sign-up-button btn-outline-secondary w-100 mt-3' %>
           <% end %>
        </div>
    </div>  
</div>