<div class="col-sm-6 col-sm-offset-3 mt-5 mx-auto">
    <h2 class="text-center title-medium mt-5 mb-5">Edit item</h2>
    <%= bootstrap_form_for @post do |f| %>
        <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>

        <%= f.file_field :picture,  
                        class: 'form-control' %>

        <%= f.select(:category_id, options_for_select(@categories), :prompt => "Select one!") %>

        <%= link_to '(add category)', new_category_path, class: 'nav-link absolute-link' %>

        <%= f.submit 'Edit item', class: 'btn sign-up-button btn-outline-secondary w-100 mt-3' %>
    <% end %>
    <br/>
    <%= link_to "Back", posts_path, class:"btn btn-outline-secondary" %>
</div>
