<div class="col pt-3">
    <div class="d-flex align-items-center">
        <h1 class="title-small mt-2 ml-sm-5 ml-2 mr-3">
            <%= get_category_name(params[:category_id]) %>
        </h1>
    
    <% if params[:category_id] %>
      <%= link_to edit_category_path(params[:category_id]), class: 'simple-link mr-2 pt-1' do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to category_path(params[:category_id]), class: 'simple-link pt-1', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>

    </div>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice", :class => "ml-5 mt-3" ) if flash[:notice] %>
    
    <% if flash[:pop_up] %>
        <div class="alert alert-warning alert-dismissible fade show mx-5 mt-3" role="alert">
            <strong>So many clothes!</strong> <br/>
            <p>Although the limit for the number of items you have in your wardrobe doesn't 
            need to be so rigid, the main goal of making a capsule is to declutter and keeping 
            only pieces that are useful and important for you.</p>
            <p>This is a good time to re-evaluate what you have in your wardrobe. Remember 
            that you can always edit your capsule, make new looks, remove pieces that don't
                make sense anymore. </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
    
    <ul id="images-container" class="p-0 mt-1">
        <% @posts.each do |post| %>
            <li class="mx-1 mx-sm-4">
                <div style='background-image: url(<%= cloudinary_url(post.picture.key) %>)'>
                    <span id="left-links" class="ml-2">
                        <%= link_to edit_post_path(post), class:"btn btn-secondary" do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        <%= link_to post_path(post), method: :delete, class:"btn btn-secondary ml-sm-1",  data: { confirm: 'Are you sure?' } do %>
                            <i class="far fa-trash-alt"></i>
                        <% end %>
                    </span>
                    <span id="right-links">
                        <%= link_to post, class:"btn btn-secondary mr-2" do %>
                            <i class="fas fa-expand"></i>
                        <% end %>
                    </span>
                </div>
            </li>
        <% end %>
    </ul>
</div>

