<div class="container" id="sign-up-form">
  <div class="row d-flex justify-content-center">
    
    <div class="col-sm-offset-4 col-sm-4 mt-4">
      <h2 class="mb-3">Add something to your wardrope:</h3> 

        <%= form_for @post do |f| %>
          <%= f.label "Title" %>
          <%= f.text_field :title,
                            class: 'form-control' %>
          
          <%= f.label "Piece of clothes" %>
          <%= f.file_field :picture,  
                           class: 'form-control' %>
          <%= f.submit 'Create', class: 'btn sign-up-button btn-outline-secondary' %>
        <% end %>
    </div>
  </div>
</div>