<div class="container-fluid full-page">
    <div class="row h-100" id="body-row">
        <%= render "posts/sidebar" %>
        <div class="col pt-3">
            <%= form_for @post do |f| %>
              <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>

              <%= f.label "Piece of clothes" %>
              <%= f.file_field :picture,  
                              class: 'form-control' %>

              </br>
              <%= f.label "Category:" %>
              <%= f.select(:category_id, options_for_select(@categories), :prompt => "Select one!") %>

              <%= f.submit 'Create', class: 'btn sign-up-button btn-outline-secondary w-100 mt-3' %>
           <% end %>
        </div>
    </div>  
</div>