<!DOCTYPE html>
<html>
  <head>
    <title>Capsule Wardrobe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation/navigation' %>
    <%= render 'layouts/navigation/sidebar_mobile' unless current_page?(root_path) %>
    <div class="container-fluid full-page">
      <div class="row full-page" id="body-row">
        <%= render 'layouts/navigation/sidebar' unless current_page?(root_path) %>
        
        <%= yield %>
      </div>
    </div>
    

    <nav class="navbar-bottom navbar py-0">
      <span class="navbar-text">
        Created by Bruna Genz
      </span>
    </nav>
  </body>
</html>
